<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">dataSource/message</property>

		<mapping package="ru.fudzya.message"/>
		<mapping class="ru.fudzya.message.Message"/>
	</session-factory>
</hibernate-configuration>
